<style>
  :root {

    /* 
      These are the main colors of the HBO Max brand. Our color palette is inspired by 
      HBO Max gradients and should appear in most, if not all, brand communications. 
      These colors should feel premium, refined, and distinct from the other entertainment brands. 
    */

    /* Hero Colors */
    --slate-clr-plum: #3C034E;
    --slate-clr-violet: #360F66;
    --slate-clr-regal: #2A0541;

    /* Accent Colors */
    --slate-clr-indigo: #5816BD;
    --slate-clr-magenta: #B908F6;
    --slate-clr-rose: #740979;

    /* General Colors */
    --slate-clr-black: #000000;
    --slate-clr-max-black: #030327;
    --slate-clr-white: #FFFFFF;

    /* Alpha Colors */
    --slate-clr-plum-t90: hsla(286, 93%, 16%, 0.9);
    --slate-clr-plum-t80: hsla(286, 93%, 16%, 0.8);
    --slate-clr-plum-t70: hsla(286, 93%, 16%, 0.7);
    --slate-clr-plum-t60: hsla(286, 93%, 16%, 0.6);
    --slate-clr-plum-t50: hsla(286, 93%, 16%, 0.5);
    --slate-clr-plum-t40: hsla(286, 93%, 16%, 0.4);
    --slate-clr-plum-t30: hsla(286, 93%, 16%, 0.3);
    --slate-clr-plum-t20: hsla(286, 93%, 16%, 0.2);
    --slate-clr-plum-t10: hsla(286, 93%, 16%, 0.1);
    
    --slate-clr-violet-t90: hsla(267, 74%, 23%, 0.9);
    --slate-clr-violet-t80: hsla(267, 74%, 23%, 0.8);
    --slate-clr-violet-t70: hsla(267, 74%, 23%, 0.7);
    --slate-clr-violet-t60: hsla(267, 74%, 23%, 0.6);
    --slate-clr-violet-t50: hsla(267, 74%, 23%, 0.5);
    --slate-clr-violet-t40: hsla(267, 74%, 23%, 0.4);
    --slate-clr-violet-t30: hsla(267, 74%, 23%, 0.3);
    --slate-clr-violet-t20: hsla(267, 74%, 23%, 0.2);
    --slate-clr-violet-t10: hsla(267, 74%, 23%, 0.1);

    --slate-clr-regal-t90: hsla(277, 86%, 14%, 0.9);
    --slate-clr-regal-t80: hsla(277, 86%, 14%, 0.8);
    --slate-clr-regal-t70: hsla(277, 86%, 14%, 0.7);
    --slate-clr-regal-t60: hsla(277, 86%, 14%, 0.6);
    --slate-clr-regal-t50: hsla(277, 86%, 14%, 0.5);
    --slate-clr-regal-t40: hsla(277, 86%, 14%, 0.4);
    --slate-clr-regal-t30: hsla(277, 86%, 14%, 0.3);
    --slate-clr-regal-t20: hsla(277, 86%, 14%, 0.2);
    --slate-clr-regal-t10: hsla(277, 86%, 14%, 0.1);

    --slate-clr-indigo-t90: hsla(264, 79%, 41%, 0.9);
    --slate-clr-indigo-t80: hsla(264, 79%, 41%, 0.8);
    --slate-clr-indigo-t70: hsla(264, 79%, 41%, 0.7);
    --slate-clr-indigo-t60: hsla(264, 79%, 41%, 0.6);
    --slate-clr-indigo-t50: hsla(264, 79%, 41%, 0.5);
    --slate-clr-indigo-t40: hsla(264, 79%, 41%, 0.4);
    --slate-clr-indigo-t30: hsla(264, 79%, 41%, 0.3);
    --slate-clr-indigo-t20: hsla(264, 79%, 41%, 0.2);
    --slate-clr-indigo-t10: hsla(264, 79%, 41%, 0.1);

    --slate-clr-magenta-t90: hsla(285, 94%, 50%, 0.9);
    --slate-clr-magenta-t80: hsla(285, 94%, 50%, 0.8);
    --slate-clr-magenta-t70: hsla(285, 94%, 50%, 0.7);
    --slate-clr-magenta-t60: hsla(285, 94%, 50%, 0.6);
    --slate-clr-magenta-t50: hsla(285, 94%, 50%, 0.5);
    --slate-clr-magenta-t40: hsla(285, 94%, 50%, 0.4);
    --slate-clr-magenta-t30: hsla(285, 94%, 50%, 0.3);
    --slate-clr-magenta-t20: hsla(285, 94%, 50%, 0.2);
    --slate-clr-magenta-t10: hsla(285, 94%, 50%, 0.1);

    --slate-clr-rose-t90: hsla(297, 86%, 25%, 0.9);
    --slate-clr-rose-t80: hsla(297, 86%, 25%, 0.8);
    --slate-clr-rose-t70: hsla(297, 86%, 25%, 0.7);
    --slate-clr-rose-t60: hsla(297, 86%, 25%, 0.6);
    --slate-clr-rose-t50: hsla(297, 86%, 25%, 0.5);
    --slate-clr-rose-t40: hsla(297, 86%, 25%, 0.4);
    --slate-clr-rose-t30: hsla(297, 86%, 25%, 0.3);
    --slate-clr-rose-t20: hsla(297, 86%, 25%, 0.2);
    --slate-clr-rose-t10: hsla(297, 86%, 25%, 0.1);

    --slate-clr-black-t10: hsla(0, 0%, 0%, 0.1);
    --slate-clr-black-t20: hsla(0, 0%, 0%, 0.2);
    --slate-clr-black-t30: hsla(0, 0%, 0%, 0.3);
    --slate-clr-black-t40: hsla(0, 0%, 0%, 0.4);
    --slate-clr-black-t50: hsla(0, 0%, 0%, 0.5);
    --slate-clr-black-t60: hsla(0, 0%, 0%, 0.6);
    --slate-clr-black-t70: hsla(0, 0%, 0%, 0.7);
    --slate-clr-black-t80: hsla(0, 0%, 0%, 0.8);
    --slate-clr-black-t90: hsla(0, 0%, 0%, 0.9);
    
    --slate-clr-grey-0: hsl(210, 20%, 98%);
    --slate-clr-grey-1: hsl(210, 17%, 95%);
    --slate-clr-grey-2: hsl(210, 16%, 93%);
    --slate-clr-grey-3: hsl(210, 14%, 89%);
    --slate-clr-grey-4: hsl(210, 14%, 83%);
    --slate-clr-grey-5: hsl(210, 11%, 71%);
    --slate-clr-grey-6: hsl(210, 7%, 56%);
    --slate-clr-grey-7: hsl(210, 9%, 31%);
    --slate-clr-grey-8: hsl(210, 10%, 23%);
    --slate-clr-grey-9: hsl(210, 11%, 15%);
    --slate-clr-grey-10: hsl(210, 11%, 5%);
    --slate-clr-grey-11: hsl(210, 0%, 0%);

    /* 
      Sizes 
      Global/Consistent Sizing 
    */
    --slate-size-000: -.5rem;
    --slate-size-00: -.25rem;
    --slate-size-1: .25rem;
    --slate-size-2: .5rem;
    --slate-size-3: 1rem;
    --slate-size-4: 1.25rem;
    --slate-size-5: 1.5rem;
    --slate-size-6: 1.75rem;
    --slate-size-7: 2rem;
    --slate-size-8: 3rem;
    --slate-size-9: 4rem;
    --slate-size-10: 5rem;
    --slate-size-11: 7.5rem;
    --slate-size-12: 10rem;
    --slate-size-13: 15rem;
    --slate-size-14: 20rem;
    --slate-size-15: 30rem;
    --slate-size-fluid-1: clamp(.5rem, 1vw, 1rem);
    --slate-size-fluid-2: clamp(1rem, 2vw, 1.5rem);
    --slate-size-fluid-3: clamp(1.5rem, 3vw, 2rem);
    --slate-size-fluid-4: clamp(2rem, 4vw, 3rem);
    --slate-size-fluid-5: clamp(4rem, 5vw, 5rem);
    --slate-size-fluid-6: clamp(5rem, 7vw, 7.5rem);
    --slate-size-fluid-7: clamp(7.5rem, 10vw, 10rem);
    --slate-size-fluid-8: clamp(10rem, 20vw, 15rem);
    --slate-size-fluid-9: clamp(15rem, 30vw, 20rem);
    --slate-size-fluid-10: clamp(20rem, 40vw, 30rem);
    --slate-size-content-1: 20ch;
    --slate-size-content-2: 45ch;
    --slate-size-content-3: 60ch;
    --slate-size-header-1: 20ch;
    --slate-size-header-2: 25ch;
    --slate-size-header-3: 35ch;
    --slate-size-xxs: 240px;
    --slate-size-xs: 360px;
    --slate-size-sm: 480px;
    --slate-size-md: 768px;
    --slate-size-lg: 1024px;
    --slate-size-xl: 1440px;
    --slate-size-xxl: 1920px;

    /* 
      Transition & Animation Values 
    */

    /* Time Length | Duration | Delay */
    --slate-duration-short: 200ms;
    --slate-duration-medium: 400ms;
    --slate-duration-long: 800ms;

    /* Easy Ease */
    --slate-ease-sine: cubic-bezier(.39,.58,.57,1);

  }
</style>