<style>

  /**
    * ----------------------------------------
    * Global Slate Styles
    * ----------------------------------------
    */

  /* All <section>s, .layouts and .texts to have a baseline position & z-index 
   * to prevent laying under a ::before/::after accent
   */
  .slate-section-parent {
    position: relative;
  }
  .slate-section-parent .layout,
  .slate-section-parent .text {
    position: relative;
    z-index: 1;
  }
  /* Prevent accents from overlaying interaction elements */
  ::before, ::after {
    pointer-events: none;
  }

  /* Set the .layout element to 100vh but limit it to 1080px height */
  .slate-section--full-height .layout {
    min-height: min(100vh, 1080px) !important;
  }

  /* Keep NOW STREAMING, WATCH TRAILER and other Brow copy a consistent style */
  .slate-section h5,
  .slate-section h6 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }
  .slate-section h6 {
    color: var(--slate-clr-grey-3);
  }

  /**
   * The H5 Brow
   * Keeping in Core as there are many components that use 'the brow'
   * TODO: if/when using a scalable CSS framework, consider using an include
    */
  .slate-section__w-brow-parent {
    z-index: 2;
  }
  .slate-section__w-brow h5 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .slate-section__w-brow h5:before,
  .slate-section__w-brow h5:after {
    border-top: 1px solid var(--slate-clr-indigo);
    content: '';
    flex: 1 0 20px;
  }
  .slate-section__w-brow h5:before {
    margin: 0 20px 0 0;
  }
  .slate-section__w-brow h5:after {
    margin: 0 0 0 20px;
  }

  /* 
    Prevent over-length reading-lines 
    https://www.smashingmagazine.com/2014/09/balancing-line-length-font-size-responsive-web-design/
    70ch should be considered absolute max but can and should be varied from 45ch-75ch as needed.
    */
  .slate-section p {
    max-width: 70ch; /* 45ch-75ch is ideal */
    margin-right: auto;
    margin-left: auto;
    font-size: 1rem !important;
    line-height: 1.4 !important;
  }

  .slate-section img {
    max-width: 100%;
    height: auto;
  }

  /** 
   * Video Player 
   * Keeping in Core as there are many video player components
   * TODO: if/when using a scalable CSS framework, consider using an include
   */
  .slate-section .player__container .tui-bar__active-progress {
    background: var(--slate-clr-rose) !important;
  }
  .slate-section .player__container .tui-volume__active-bar {
    background: var(--slate-clr-violet) !important;
  }
  .slate-section .player__container .tui-bar__control-head, 
  .slate-section .player__container .tui-volume__control-head {
    color: var(--slate-clr-violet) !important;
  }
  .slate-section .player__container .tui-cc {
    border-bottom: 4px solid var(--slate-clr-violet) !important;
  }
  .slate-section .player__container .tui-control-bar__controls, 
  .slate-section .player__container .tui-control-bar__background {
    opacity: 0;
    transition: all var(--slate-duration-long) var(--slate-ease-sine);
  }
  .slate-section .player__container:hover .tui-control-bar__controls, 
  .slate-section .player__container:hover .tui-control-bar__background {
    opacity: 1 !important;
  }
  .slate-section .player__container .tui-icon-play-circle {
    transition: all var(--slate-duration-long) var(--slate-ease-sine);
    text-shadow: var(--slate-clr-max-black) 0px 0px 30px !important;
  }
  @supports( filter: drop-shadow(0px 0px 0px currentColor)){
    .slate-section .player__container .tui-icon-play-circle {
      text-shadow: none;
      filter: drop-shadow(0px 0px 4px var(--slate-clr-indigo)) drop-shadow(0px 0px 10px var(--slate-clr-regal-t30));
    }
  }
  .slate-section .player__container:hover .tui-icon-play-circle {
    transform: scale(1.1);
  }
  .slate-section .player__container .tui-start-slate {
    transition: all var(--slate-duration-long) var(--slate-ease-sine);
  }

  /* 
    Mobile/Generic first design
    https://www.smashingmagazine.com/2017/02/mobile-first-is-just-not-good-enough-meet-journey-driven-design/
    https://www.smashingmagazine.com/2018/12/generic-css-mobile-first/
    https://www.smashingmagazine.com/2022/08/fluid-sizing-multiple-media-queries/
  */
  @media screen and (min-width: 576px){ /* SM */
    /* Bump up <p> size a little */
    .slate-section p {
      font-size: 1.1rem !important;
    }
  }
  @media screen and (min-width: 768px){ /* MD */ }
  @media screen and (min-width: 992px){ /* LG */ }
  @media screen and (min-width: 1024px){ /* ~LG */ }
  @media screen and (min-width: 1025px){ /* CMS-LG */ }
  @media screen and (min-width: 1200px){ /* XL */ }
  @media screen and (min-width: 1400px){ /* XXL */ }

</style>
