<div class="slate-section__three-up-hero__row">

  <!-- Section 1 -->
  <section class="hero-character__wrapper" onclick="location.href='URN_URL_HERE'">
    <div class="hero-character" style="background-image: url(https://hbomax-images.warnermediacdn.com/2022-11/6-13.jpg?host=wme-hbomax-drupal-prod.s3.amazonaws.com&w=450);">
      <img src="https://hbomax-images.warnermediacdn.com/2022-10/hbo50-w-v2.png?host=wme-hbomax-drupal-prod.s3.amazonaws.com&w=400" alt="Place Holder">
    </div>
  </section>

  <!-- Section 2 -->
  <section class="hero-character__wrapper" onclick="location.href='URN_URL_HERE'">
    <div class="hero-character" style="background-image: url(https://hbomax-images.warnermediacdn.com/2022-11/6-13.jpg?host=wme-hbomax-drupal-prod.s3.amazonaws.com&w=450);">
      <img src="https://hbomax-images.warnermediacdn.com/2022-10/hbo50-w-v2.png?host=wme-hbomax-drupal-prod.s3.amazonaws.com&w=400" alt="Place Holder">
    </div>
  </section>

  <!-- Section 3 -->
  <section class="hero-character__wrapper" onclick="location.href='URN_URL_HERE'">
    <div class="hero-character" style="background-image: url(https://hbomax-images.warnermediacdn.com/2022-11/6-13.jpg?host=wme-hbomax-drupal-prod.s3.amazonaws.com&w=450);">
      <img src="https://hbomax-images.warnermediacdn.com/2022-10/hbo50-w-v2.png?host=wme-hbomax-drupal-prod.s3.amazonaws.com&w=400" alt="Place Holder">
    </div>
  </section>

</div>
