<style>
  /* ---------- Supported Devices ---------- */
    .max-section-supported-devices-parent > .max-section-supported-devices img {
      margin-inline: auto;
      max-width: 130px;
    }
    .max-section-supported-devices-parent > .max-section-supported-devices h4 {
      position: relative;
      margin-bottom: 2em;
    }
    .max-section-supported-devices-parent > .max-section-supported-devices h4::before {
      position: absolute;
      bottom: -1em;
      left: 50%;
      transform: translateX(-50%);
      background: var(--slate-clr-violet);
      width: 70px;
      height: 2px;
      content: "";
    }
    .max-section-supported-devices-parent > .max-section-supported-devices ul {
      padding: 0;
      font-size: 14px;
      list-style: none;
    }
    </style>