<style>
  /**
    * ----------------------------------------
    * Hero with 3-Up Posters
    * ----------------------------------------
    */
  
  /* band */
  .slate-section__three-up-hero-parent {
    --three-up-border-clr-1: var(--slate-clr-regal);
    --three-up-border-clr-2:  var(--slate-clr-plum);
    --three-up-border-clr-3: var(--slate-clr-violet);
    --three-up-border-clr-4: var(--slate-clr-regal);
    padding-bottom: 1px; /* prevent margin-block bleed */
  }
  .slate-section__three-up-hero-parent::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, var(--page-background-color) 0%, transparent 30%);
    content: "";
  }
  .slate-section__three-up-hero-parent .slate-section.slate-section__three-up-hero {
    padding: 0 !important;
  }
  .slate-section__three-up-hero-parent > .slate-section__three-up-hero > .layout {
    min-height: min(100vh, 1080px);
    margin-right: 0;
    margin-left: 0;
    padding-top: 100px;
  }
  
  /* content column */
  .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--content {}
  .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--content img {
    width: 100%;
    max-width: 350px;
  }
  .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--content p {
    max-width: 36ch;
    margin: 0.5rem auto;
  }
  .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--content p strong {
    font-weight: 500 !important;
  }
  .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--content a.btn {
    margin-top: 1rem;
  }
  @supports (backdrop-filter: blur(4px)) {
    .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--content a.btn {
      backdrop-filter: blur(4px);
    }
  }
  
  /* -- characters columns -- */
  .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros {
    padding-inline: calc(15px + 1rem);
  }
  .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros > .rich-text {
    width: 100%;
  }
  .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros .slate-section__three-up-hero__row {
    display: flex;
    gap: 0.5em;
  }
  .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros .slate-section__three-up-hero__row .hero-character__wrapper {
    --translateY: 0px;
    --scale: 1;
    position: relative;
    transform: translateY(var(--translateY)) scale(var(--scale));
    justify-content: center;
    overflow: hidden;
    min-height: min(50vh, 300px);
    padding: 3px;
    background: linear-gradient(50deg,var(--three-up-border-clr-1),var(--three-up-border-clr-2),var(--three-up-border-clr-3),var(--three-up-border-clr-4));
    background-position: top;
    background-size: cover;
    flex-basis: 100%;
    transition: transform 800ms;
    cursor: pointer;
    box-shadow: 0 4px 4px var(--slate-clr-magenta-t20);
  }
  .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros .slate-section__three-up-hero__row .hero-character__wrapper .trade-mark-logo {
    position: absolute;
  }
  .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros .slate-section__three-up-hero__row .hero-character__wrapper:nth-child(odd){
    --translateY: -1.2rem;
  }
  .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros .slate-section__three-up-hero__row .hero-character__wrapper:nth-child(even){
    --translateY: 1.2rem;
  }
  .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros .slate-section__three-up-hero__row:hover .hero-character__wrapper {
    --translateY: 0;
    opacity: 0.96;
  }
  .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros .slate-section__three-up-hero__row .hero-character__wrapper:hover{
    --scale: 1.08;
    --translateY: 0rem;
    opacity: 1;
  }
  
  .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros .slate-section__three-up-hero__row .hero-character {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem 0.5rem;
    background-position: top center;
    background-size: cover;
    box-shadow: 0 0 8px rgba(255,255,255,0.2) inset, 0 0 10px rgba(255,255,255,0.2);
  }
  .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros .slate-section__three-up-hero__row .hero-character::before {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    content: "";
  }
  .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros .slate-section__three-up-hero__row .hero-character img {
    position: relative;
    z-index: 1;
  }
  .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros .slate-section__three-up-hero__row .hero-character img.trade-mark-logo {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: min(2vw,48px);
    min-width: 24px;
  }
  
  @media screen and (min-width: 576px){ /* SM */
    .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros .slate-section__three-up-hero__row .hero-character__wrapper {
      min-height: min(50vh, 420px);
    }
  }
  @media screen and (min-width: 768px){ /* MD */
    .slate-section__three-up-hero-parent {
      background-position: center bottom;
    }
    .slate-section__three-up-hero-parent > .slate-section__three-up-hero > .layout {
      padding-top: 5%;
      padding-bottom: 5%;
    }
    h3 {
      font-size: 2rem;
    }
    .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros .slate-section__three-up-hero__row .hero-character {
      padding: 1.5rem 0.5rem;
    }
  }
  @media screen and (min-width: 992px){ /* LG */
    .slate-section__three-up-hero-parent > .slate-section__three-up-hero > .layout {
      /* padding-top: 10vh; */
    }
    .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros {
      padding-inline: 0 2rem;
    }
    .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros .slate-section__three-up-hero__row {
      gap: 1.5em;
    } 
    .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros .slate-section__three-up-hero__row .hero-character__wrapper {
      min-height: min(90vh, 560px);
      padding: 5px;
    }
    .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--content img {
      max-width: 480px;
    }
  }
  @media screen and (min-width: 1024px){
    .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros .slate-section__three-up-hero__row .hero-character {
      padding: 2.5rem calc(0.5em + 5px);
    }
  } /* ~LG */
  @media screen and (min-width: 1025px){} /* CMS-LG */
  @media screen and (min-width: 1200px){ /* XL */
    .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros .slate-section__three-up-hero__row .hero-character__wrapper {
      min-height: min(90vh, 640px);
    }
  }
  @media screen and (min-width: 1400px){ /* XXL */
    .slate-section__three-up-hero-parent > .slate-section__three-up-hero .slate-section__three-up-hero__column--heros .slate-section__three-up-hero__row .hero-character__wrapper {
      min-height: min(90vh, 700px);
    }
  }
</style>